# SPDX-FileCopyrightText: 2024 Tobias Böhm <code@aibor.de>
#
# SPDX-License-Identifier: GPL-3.0-or-later

/dist
/internal/initramfs/testdata/bin/
/internal/initramfs/testdata/lib/
/testing/kernels/
/testing/bin/
